@import 'bootstrap';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100%;
}

h2,
h3 {
  margin: 20px;
  text-align: center;
  color: bisque;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: orangered;
}

.background1 {
  background: url('../img/milky-way.jpg');
  background-size: 100% 100%;
}

.background-rain {
  background: url('../img/Rain.jpg');
  background-size: 100% 100%;
}

.background-thunder {
  background: url('../img/Thunder.jpg');
  background-size: 100% 100%;
}

.background-cloud {
  background: url('../img/clouds.jpg');
  background-size: 100% 100%;
}

.background-snow {
  background: url('../img/snow.jpg');
  background-size: 100% 100%;
}

.navbar-light {
  background-color: rgb(27, 28, 29) !important;
  text-align: center;
}

.error-txt {
  color: #791515;
  font-size: 15px;
  display: none;
  margin-left: 10px;
}

.container {
  margin-top: 50px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: rgb(27, 22, 66);
  border: 1px dotted rgb(27, 22, 66);
  border-radius: 10px;
  text-align: center;
}

.temparature {
  margin: 0 auto;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.temparature2 {
  display: none;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.show {
  display: block;
}

.none {
  display: none;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(49, 49, 49);
  color: #fff;
}

footer p {
  margin-top: 15px;
}

footer li {
  list-style: none;
}

.flexfooter {
  display: flex;
  justify-content: center;
}
